.pantalla {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: right;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 70px;
    
    span {
        display: block;
        word-wrap: break-word;
        word-break: break-all;
    }
}