button {
    padding: 20px;
    font-size: 1.5rem;
    margin: 5px;
    width: 70px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    &:hover {
        opacity: 0.8;
    }
}